.sec{
    width: 100%;
    min-height: 138px;
    font-size: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    .item{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        padding: 10px 10px 0 10px;
        box-sizing: border-box;
    }
    img{
        margin-bottom: 10px;
        display: block;
    }
}
.title{
    font-size: 12px;
}