.sec{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 220px;
    input{
        width: 160px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}