.sec{
    width: 254px;
    height: 28px;
    border-radius: 20px;
    background: #ccc;
    margin-top: 6px;
    input{
        width: 210px;
        height: 100%;
        display: block;
        margin: 0 auto;
        border: 0;
        background: transparent;
        &:focus{
            outline: none;
        }
    }
}