.sec{
    position: fixed;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #cccccc;
    padding: 20px;
    box-sizing: border-box;
    li{
        list-style: none;
    }
    .title{
        color: #ccc;
    }
}
