.sec{
    width: 130px;
    height: 160px;
}
.singerPic{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.SingerName{
    font-size: 14px;
    line-height: 14px;
    margin-top: 20px;
}